# Insurance Cross Sell Prediction

 ## TASKS
 
1 - Insights sobre os atributos mais relevantes de clientes interessados em adquirir um seguro de automóvel.

2 - Qual a porcentagem de clientes interessados em adquirir um seguro de automóvel, o time de vendas conseguirá contatar fazendo 20.000 ligações?

3- E se a capacidade do time de vendas aumentar para 40.000 ligações, qual a porcentagem de clientes interessados em adquirir um seguro de automóvel o time de vendas conseguirá contatar?

4 - Quantas ligações o time de vendas precisa fazer para contatar 80% dos clientes interessados em adquirir um seguro de automóvel?

# 0.0 Imports

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import psycopg2 as pg

## 0.1 Helper Functions

In [2]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()

## 0.2 Loading Data

### 0.2.1 Connecting to DB

In [18]:
##Connection to Database
#
#conn = pg.connect( user=username,
#                   password=pwd,
#                   host=host,
#                   port=port,
#                   database=database )

### 0.2.2 Schema Query

In [6]:
#cursor = conn.cursor()
#
#query_schema = """
#         SELECT nspname
#         FROM pg_catalog.pg_namespace
#"""
#
#cursor.execute ( query_schema )

In [11]:
#record = cursor.fetchall()
#cursor.close()
#conn.close()

In [10]:
#record

[('pg_toast',),
 ('pg_temp_1',),
 ('pg_toast_temp_1',),
 ('pg_catalog',),
 ('information_schema',),
 ('public',),
 ('pa004',)]

record = cursor.fetchall()

### 0.2.3 Table Query

In [32]:
#cursor = conn.cursor()
#
#query_tables = """
#         SELECT tablename
#         FROM pg_tables
#         WHERE schemaname='pa004'
#"""
#
#cursor.execute ( query_tables )
#
#record = cursor.fetchall()
#print( record )
#
#cursor.close()
#conn.close()

InterfaceError: connection already closed

### 0.2.4 Raw Dataframe Query

In [21]:
#query_data = """
#         SELECT *
#         FROM pa004.users u
#         LEFT JOIN pa004.vehicle v ON ( u.id=v.id )
#         LEFT JOIN pa004.insurance i ON ( u.id=i.id )
#"""

### 0.2.5 Loading the data to df_raw

In [23]:
#df_raw = pd.read_sql( query_data, conn )
#df_raw.to_csv('data/table.csv', index=False)

In [3]:
df_raw = pd.read_csv( 'data/table.csv' )

In [4]:
# check table
df_raw.head().T

                             0         1         2         3         4
id                           7        13        18        31        39
gender                    Male    Female    Female    Female      Male
age                         23        41        25        26        45
region_code               11.0      15.0      35.0       8.0       8.0
policy_sales_channel     152.0      14.0     152.0     160.0     124.0
driving_license              1         1         1         1         1
vehicle_age           < 1 Year  1-2 Year  < 1 Year  < 1 Year  1-2 Year
vehicle_damage             Yes        No        No        No       Yes
previously_insured           0         1         1         0         0
annual_premium         23367.0   31409.0   46622.0    2630.0   42297.0
vintage                    249       221       299       136       264
response                     0         0         0         0         0

In [28]:
# dropping dulpicated columns
df_raw = df_raw.iloc[:, ~df_raw.columns.duplicated()]

In [30]:
# check table
df_raw.head().T

                             0         1         2         3         4
id                           7        13        18        31        39
gender                    Male    Female    Female    Female      Male
age                         23        41        25        26        45
region_code               11.0      15.0      35.0       8.0       8.0
policy_sales_channel     152.0      14.0     152.0     160.0     124.0
driving_license              1         1         1         1         1
vehicle_age           < 1 Year  1-2 Year  < 1 Year  < 1 Year  1-2 Year
vehicle_damage             Yes        No        No        No       Yes
previously_insured           0         1         1         0         0
annual_premium         23367.0   31409.0   46622.0    2630.0   42297.0
vintage                    249       221       299       136       264
response                     0         0         0         0         0

In [5]:
conn.close()

NameError: name 'conn' is not defined